@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --cyan: #2ab2af;
  --light-cyan: #4abebd;
  --bright-yellow: #c0df34;
  --light-gray: #e5eff5;
  --grayish-blue: #98a6bd;
  --white: #fff;
  --very-transparent-white: #ffffff86;
  --transparent-white: #ffffffd3;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

h3 {
  font-size: 2.2rem;
  margin-top: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.6rem;
  box-sizing: inherit;
  font-family: 'Karla', sans-serif;
  background-color: var(--light-gray);
}

.sr-only {
  overflow: hidden;
  position: absolute;
  left: -1rem;
  font-size: 0.1rem;
  width: 0.1rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
  max-width: 65rem;
  border-radius: 0.8rem;
  box-shadow: 0 0.5rem 2rem 1rem #4abebc2c;
}

.card__our-community,
.card__subscription,
.card__why-us {
  padding: 3.5rem;
}

.card__our-community {
  height: max-content;
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: var(--white);
  border-radius: 0.8rem 0.8rem 0 0;
}
.our-community__title {
  color: var(--cyan);
  font-weight: 700;
}
.our-community__offert {
  font-weight: 700;
  font-style: normal;
  color: var(--bright-yellow);
}
.our-community__desc {
  line-height: 2.5rem;
  color: var(--grayish-blue);
}

.card__subscription {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: var(--cyan);
  border-radius: 0 0 0 0.8rem;
  color: var(--white);
}
.subscription__price-desc {
  display: inline;
  padding-left: 1rem;
  color: var(--very-transparent-white);
}
.subscription__price {
  font-weight: 700;
  font-size: 3rem;
  color: var(--white);
}
.subscription__sign-up {
  width: 100%;
  padding: 1.5rem 2rem;
  color: var(--white);
  background-color: var(--bright-yellow);
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0 0.5rem 1rem 0.4rem #55631749;
  cursor: pointer;
}

.card__why-us {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: var(--light-cyan);
  border-radius: 0 0 0.8rem 0;
}
.why-us__title {
  font-size: 2rem;
  color: var(--white);
}
.why-us__desc {
  margin: 0;
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: var(--transparent-white);
}

.attribution {
  font-weight: 700;
  margin: 2rem;
  font-size: 1.4rem;
  text-align: center;
  color: var(--cyan);
}
.attribution a {
  color: inherit;
}
.attribution a:hover {
  color: var(--bright-yellow);
  transition: color 0.3s ease-in;
}

@media screen and (max-width: 700px) {
  .card {
    grid-template-columns: 1fr;
    margin: 8rem 3rem;
  }
  .card__subscription,
  .card__subscription {
    grid-column: unset;
    grid-row: auto;
  }
  .card__subscription {
    border-radius: 0;
  }
  .card__why-us {
    grid-column: unset;
    grid-row: 3/4;
    border-radius: 0 0 0.8rem 0.8rem;
  }
  .why-us__desc {
    font-size: 1.6rem;
  }
}
