@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  box-sizing: inherit;
  font-family: 'Raleway', sans-serif;
}

.main__title {
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  grid-column: 1/4;
  text-align: center;
}

.main {
  padding: 2rem;
  margin: 0 auto;
  max-width: 120rem;
  min-width: 37rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.main__card {
  height: max-content;
  text-align: center;
  border-radius: 1rem;
  background-color: rgb(26, 26, 26);
}

.card__name {
  text-decoration: none;
  display: block;
  padding: 1.5rem;
  color: azure;
  transition: color 0.3s ease-in;
}

@media (hover: hover) {
  .card__name:hover {
    color: rgb(175, 173, 173);
  }
}
.card__name:active {
  color: rgb(175, 173, 173);
}
.card__name:focus {
  outline: none;
}

@media screen and (max-width: 1064px) {
  .main__title {
    grid-column: 1/3;
  }
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .main__title {
    grid-column: 1/2;
  }
  .main {
    grid-template-columns: 1fr;
  }
}
