@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  box-sizing: inherit;
  font-family: 'Raleway', sans-serif;
}

.main__title {
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  grid-column: 1/4;
  text-align: center;
}

.main__container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 120rem;
  min-width: 37rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.container__card {
  flex: 1 1 30rem;
  margin-bottom: 2rem;
  height: max-content;
  text-align: center;
  border-radius: 1rem;
  background-color: rgb(26, 26, 26);
}

.card__name {
  text-decoration: none;
  display: block;
  padding: 1.5rem;
  color: azure;
  transition: color 0.3s ease-in;
}
