@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Barlow', sans-serif;
  text-align: center;
  background-image: linear-gradient(
    45deg,
    hsl(240deg 98% 80%) 0%,
    hsl(241deg 99% 82%) 11%,
    hsl(243deg 99% 84%) 22%,
    hsl(244deg 100% 87%) 33%,
    hsl(245deg 100% 89%) 44%,
    hsl(246deg 100% 91%) 56%,
    hsl(246deg 100% 93%) 67%,
    hsl(247deg 100% 95%) 78%,
    hsl(248deg 100% 98%) 89%,
    hsl(0deg 0% 100%) 100%
  );
}

.profile__avatar {
  border-radius: 50%;
  height: 220px;
}

.username {
  color: darkmagenta;
  transition: color 0.3s ease-in-out;
}
.username:active {
  color: red;
}
